* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  margin: 0; padding: 0; }

body { font-family: "Open Sans"; font-size: 13px; background: #f5f5f5; }

h1,h2 { text-align: center; }
h1 {
	font-size: 90px;
	color: #666;
	text-shadow:0px 7px 0px #ddd;
	font-family: "arvo";
	margin-top: 20px ;
}

h2 {
	font-family: Georgia;
	font-style: italic;
	color: #666;
	font-weight: normal;
}

#wrap { width: 75%; margin: 0 auto;}

#tabwrap {
	background: #fff;
	overflow: hidden;
	width: 100%;
	min-height: 300px;
	margin: 60px auto;
	box-shadow: 0 0 20px #ddd;
	border: 1px solid #ddd;
}
.tabs { overflow: hidden; background: #777; }
.tabs li { list-style: none; }
.tabs li a {
	float: left;
	display: block;
	padding: 10px;
	color: #fff;
	width: 20%;
	text-decoration: none;
	text-align: center;
	border-right: 1px solid #555;
	border-left: 1px solid #888;
	font-size: 15px;
	text-shadow: 1px 1px 0 #000;
}

.tabs li a:hover { background: #666; }
.tabs li:first-child a { border-left: 0; }
.tabs li:last-child a { border-right: 0; }

.tabs li.current a {
	background: #fff;
	color: #666;
	text-shadow: 1px 1px 0 #fff;
}

.tab_content > div {
	clear: both;
	padding: 20px;
	line-height: 19px;
	color: #666;
	text-shadow: 1px 1px 0 #fff;
	display: none;
}

.tab_content .current { display: block; }
.tab_content #home.first { display: block; }
.tab_content p { margin: 0 0 20px 0;}
